*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    background:linear-gradient(135DEG,#153677,#4e085f);
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 100px 0;
}
.main{
    background-color: white;
    width: 550px;
    margin: 0 auto;
    padding: 50px;
}
.todo_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.todo_header img{
    padding-left: 10px;
}
.todo_body{
      display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.todo_body img{
    background-color: white;
    border-radius: 90%;
    margin-left: -75px;
    cursor: zoom-in;
    height: 65px;
    width: 78px;
    padding: 8px;
}
.todo_body input{
   flex : 1;
    border: none;
    outline: none;
    border-radius: 30px;
    background: transparent;
    padding: 15px ;
    font-size : 15px;
}
.add{
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #ff5945;
    color:white;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}
ul li{
    font-size: 18px;
    cursor: pointer;
    list-style: none;
    padding: 12px 8px 12px 50px;
    position: relative;;
}
ul li::before{
    position: absolute;
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('uncheck.png');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 10px;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
    background-image: url('checked.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height:40px;
    font-size: 22px;
    color: #342c2c;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

ul li span:hover{
    background-color: #edeef0;
}